<div class="introduction-container border-solid accent-accent-color bg-white ">
  <div class="introduction-card delay-[300ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0 bg-white my-4" data-taos-offset="-300">
    <h1 class="font-bold text-secondary-color text-xl tablet:text-2xl computer:text-4xl ">¿QUÉ ES LA JORNADA DE EMPRENDIMIENTO?</h1>
    <p class="text-base tablet:text-lg computer:text-xl">La jornada del emprendimiento es una semana especial en el instituto Albarregas.
      Dónde se estrechará el vínculo de las empresas con el alumnado del centro mediante charlas, información mano a mano, experiencias y mucho más.
    </p>
  </div>
</div>

<style>

.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-card {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

</style>
